<?xml version="1.0" encoding="UTF-8"?>
<element>
	<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns="http://xmlns.jcp.org/xml/ns/javaee"
		xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
		id="WebApp_ID" version="4.0">
		<display-name>servletlabexperiment</display-name>
		<servlet>
			<servlet-name>ques4</servlet-name>
			<servlet-class>calculator.cal</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>ques4</servlet-name>
			<url-pattern>/calculating</url-pattern>
		</servlet-mapping>
	</web-app>
</element>
